<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="resources/phpunit.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
    <coverage>
        <include>
            <directory suffix=".php">pkg/clock/src/</directory>
            <directory suffix=".php">pkg/collection/src/</directory>
            <directory suffix=".php">pkg/command-bus/src/</directory>
            <directory suffix=".php">pkg/common/src/</directory>
            <directory suffix=".php">pkg/container/src/</directory>
            <directory suffix=".php">pkg/criteria/src/</directory>
            <directory suffix=".php">pkg/cycle-bridge/src/</directory>
            <directory suffix=".php">pkg/data-source/src/</directory>
            <directory suffix=".php">pkg/exception/src/</directory>
            <directory suffix=".php">pkg/laminas-hydrator-bridge/src/</directory>
            <directory suffix=".php">pkg/monad/src/</directory>
            <directory suffix=".php">pkg/type/src/</directory>
            <directory suffix=".php">pkg/value-object/src/</directory>
        </include>
        <report>
            <clover outputFile="build/phpunit/clover.xml"/>
            <html outputDirectory="build/phpunit/coverage"/>
            <text outputFile="build/phpunit/coverage.txt"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="clock">
            <directory>pkg/clock/tests</directory>
        </testsuite>
        <testsuite name="collection">
            <directory>pkg/collection/tests</directory>
        </testsuite>
        <testsuite name="command-bus">
            <directory>pkg/command-bus/tests</directory>
        </testsuite>
        <testsuite name="common">
            <directory>pkg/common/tests</directory>
        </testsuite>
        <testsuite name="container">
            <directory>pkg/container/tests</directory>
        </testsuite>
        <testsuite name="criteria">
            <directory>pkg/criteria/tests</directory>
        </testsuite>
        <testsuite name="cycle-bridge">
            <directory>pkg/cycle-bridge/tests</directory>
        </testsuite>
        <testsuite name="data-source">
            <directory>pkg/data-source/tests</directory>
        </testsuite>
        <testsuite name="exception">
            <directory>pkg/exception/tests</directory>
        </testsuite>
        <testsuite name="laminas-hydrator-bridge">
            <directory>pkg/laminas-hydrator-bridge/tests</directory>
        </testsuite>
        <testsuite name="monad">
            <directory>pkg/monad/tests</directory>
        </testsuite>
        <testsuite name="type">
            <directory>pkg/type/tests</directory>
        </testsuite>
        <testsuite name="value-object">
            <directory>pkg/value-object/tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="build/phpunit/report.junit.xml"/>
    </logging>
</phpunit>
